.description {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 50px 20px 50px;
  background: #99999990;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #4d4d4d;
  bottom: 2.5vh;
  padding-left: 2vh;
  padding-top: 2vh;
  height: 22vh;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.userchoices {
  position: absolute;
  bottom: 35vh;
  left: 30vw;
  right: 30vw;
  height: fit-content;
}

.dialog-box {
  left: 0;
  right: 0;
  margin: 0 50px 20px 50px;
  position: absolute;
  bottom: 0;
  height: 30vh;
}

.dialog-text {
  background: #99999990;
  border: solid 2px;
  border-color: #4d4d4d;
  border-radius: 10px;
  right: 0;
  left: 22vh;
  position: absolute;
  top: 2.5vh;
  bottom: 2.5vh;
  padding-left: 12.5vh;
  padding-top: 2vh;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}


img {
  height: 27vh;
  width: 27vh;
  border-radius: 50%;
  border-color: #B4A7D6FF;
  border: solid 2px;
  position: absolute;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
}

h3 {
  height: 5vh;
  width: 27vh;
  background-color: #EFEFEFFF;
  border-color: #B4A7D6FF;
  border-radius: 5px;
  border: solid 2px;
  bottom: 0px;
  position: absolute;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1vh 1.5vh 1vh 1.5vh;
  font-size: 4vh;
}
