<div class="character-dialogue" *ngIf='!description'>
  <div class="dialog-box" (click)='nextLine()' (enter)='nextLine()'>
    <div class="dialog-text">
      <p id="displayedDialog">
        {{displayedDialog}}
      </p>
      <!-- <div *ngFor="let pick of choices">
        <app-choice [option]="pick"></app-choice>
      </div> -->
    </div>
    <div class="character-id">
      <img src="assets/tmpPic.png">
      <h3>{{characterName}}</h3>
    </div>
  </div>
</div>
<div class="description" (click)='nextLine()' (enter)='nextLine()' *ngIf='description'>
  {{displayedDialog}}
</div>
<div class='userchoices' *ngIf='userChoice'>
  <div *ngFor="let pick of choices">
    <app-choice [option]="pick" (click)='makeChoice()'></app-choice>
  </div>
</div>
