.main-section{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px;
  border-radius: 15px;
  border-color: #20124dff;
  background-color: #d9d2e9ff;
  padding: 2%;
  margin-top: 5%;
}

button{
  margin-top: -45px;
  display: inline-block;
  border: solid 2px;
  background: #b4a7d6ff;
  border-radius: 5px;
  border-color: #20124dff;
  display: absolute;
  width: 10%;
  padding: 10px; 
  font-size: 30px;
  text-transform: capitalize;
  min-width: 120px;
}

.back-button{
  position: absolute;
  left: 10%;
}

.submit-button{
  position: absolute;
  right: 10%;
}

input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  font-size: normal;
  padding: 5px;
  width: 94%;
  border-color: #674ea7ff;
  border-radius: 5px;
  margin-bottom: 2%;
}

img{
  max-width: 150px;
  max-height: 150px;
}

.input-label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding-left: 3%;
}

.radio-pronouns{
  font-size: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%;
  text-transform: capitalize;
  padding-left: 3%;
  padding-top: .5%;
}

.radio-appearance{
  font-size: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%;
  text-transform: capitalize;
  padding-top: .5%;
  text-align: center;
}

.radio-label{
  margin-right: 5%;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 3px;
  border: solid;
  border-width: 2px;
  border-color: #d9d2e9ff;
}

.radio-input{
  display: none;
}

.radio-input:checked+label{
  background-color: #b4a7d6ff;
  border-color: #20124dff;
}
