<form #userInfo="ngForm">
  <div id="profile-creation" class="main-section">
    <div id="text-input" class="form-element">
      <label for="playerName" class="input-label">Name</label>
      <input id="playerName" type="text" name="playerName" class="form-input" placeholder="name" required [(ngModel)]="user.name">
    </div>
    <div id="radio-input-pronouns">
      <label for="playerPronouns" class="input-label">Pronouns</label>
      <div class="radio-pronouns">
        <input id="male" type="radio" value="F" name="playerPronouns" class="radio-input" required [(ngModel)]="user.pronouns">
        <label for="playerPronouns" class="radio-label">she/her</label>
        <input id="female" type="radio" value="M" name="playerPronouns" class="radio-input" required [(ngModel)]="user.pronouns">
        <label for="playerPronouns" class="radio-label">he/him</label>
        <input id="neutral" type="radio" value="N" name="playerPronouns" class="radio-input" required [(ngModel)]="user.pronouns">
        <label for="playerPronouns" class="radio-label">they/them</label>
      </div>
    </div>
    <div id="radio-input-image">
      <label for="playerAppearance" class="input-label">Appearance</label>
      <div class="radio-appearance">
        <input id="Short-light" type="radio" value=1 name="playerAppearance" class="radio-input" required [(ngModel)]="user.appearance">
        <label for="Short-light" class="radio-label"><img src="assets/tmpPic.png">A</label>
        <input id="Short-medium" type="radio" value=2 name="playerAppearance" class="radio-input" required [(ngModel)]="user.appearance">
        <label for="Short-medium" class="radio-label"><img src="assets/tmpPic.png">B</label>
        <input id="Short-dark" type="radio" value=3 name="playerAppearance" class="radio-input" required [(ngModel)]="user.appearance">
        <label for="Short-dark" class="radio-label"><img src="assets/tmpPic.png">C</label>
        <input id="Long-light" type="radio" value=4 name="playerAppearance" class="radio-input" required [(ngModel)]="user.appearance">
        <label for="Long-light" class="radio-label"><img src="assets/tmpPic.png">D</label>
        <input id="Long-medium" type="radio" value=5 name="playerAppearance" class="radio-input" required [(ngModel)]="user.appearance">
        <label for="Long-medium" class="radio-label"><img src="assets/tmpPic.png">E</label>
        <input id="Long-dark" type="radio" value=6 name="playerAppearance" class="radio-input" required [(ngModel)]="user.appearance">
        <label for="Long-dark" class="radio-label"><img src="assets/tmpPic.png">F</label>
      </div>
    </div>
  </div> 
  <button id="back-button" class="back-button" type="button" routerLink="/start" (click)="goBack()">back</button>
  <button id="submit-button" class="submit-button" type="button" routerLink="/main" (click)="submit(userInfo)">create</button>
</form>

