<h1>New game page</h1>
    <div id="profile-creation">
        <form #f="ngForm">
            <div id="text-input">
                <label for="playerName">Name</label>
                <input id="playerName" type="text" class="form-control" required [(ngModel)]="user.name" name="playerName">
            </div>
            <button id="submit-button" routerLink="/main" (click)="submit(user.name, user.pronoun)">create</button>
        </form>
    </div>
<button id="back-button" routerLink="/start" (click)="goBack()">back</button>
