button {
  border: solid 2px;
  background: #cfe2f3ff;
  border-radius: 15px;
  border-color: #5a65ab;
  display: block;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  font-size: 50px;
  height: 13%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 15%;
  max-width: 50%;
  padding-top: 5%;
}

.main {
  background-color: #20124dff;
  height: 100%;
  width: 100%;
}

.button-box{
  margin-right: 0%;
  margin-left: 50%;
  width: 50%;
  height: 65%;
  padding-bottom: 5%;
  padding-top: 5%;
}
  