button {
  border: solid 2px;
  background: #cfe2f3ff;
  border-radius: 15px;
  border-color: #5a65ab;
  display: block;
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  font-size: 50px;
  height: 23%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.title-image {
  position: absolute;
  padding-top: 5vh;
  max-height: 35vh;
  margin-left:auto;
  margin-right: auto;
  top: 0;
  right: 0;
  left: 0;
}

.main {
  background-color: #20124dff;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.button-box{
  position: absolute;
  right: 0;
  bottom: 5vh;
  width: 50vw;
  height: 50vh;
}
  